.game-item{
    grid-column: auto / span 3;
    border: 2px solid #ccc;
    border-radius: 25px;
    text-align: center;
    margin: 0 2rem;
    box-shadow: 5px 5px 5px lightgrey;
}
.game-item i{
    margin: 0 1rem;
    cursor: pointer;
}
.game-image{
    width: 75%;
    height: 40%;
    border-radius: 2rem;
}
.game-item input{
    
}



@media screen and (max-width: 768px){
    .game-item{
        grid-column: auto / span 12;
    }
    .game-image{
        width: 60%;
        height: 60%;
        border-radius: 2rem;
    }
}