@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    font-family: 'Comic Neue', cursive;
    font-family: 'Poppins', sans-serif;
}

/* Grid style */

.output-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    margin: 2rem;
}

.game-item{
    grid-column: auto / span 3;
    border: 2px solid #ccc;
    border-radius: 25px;
    text-align: center;
}

.search-add{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    margin: 2rem;
}
.search-bar{
    grid-column: auto / span 12;
}

@media screen and (max-width: 768px){
    .game-item, .search-bar, .add-function{
        grid-column: auto / span 12;
    }
}